* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--blue: #0061ff;
	--light-blue: #b4d0e7;
	--dark-blue: #0d2481;
	--dark: black;
	--bordeaux: #61082b;
	--green: #a2d39b;
	--yellow: #ffd830;
	--red: #ff1c1c;
	--dark-red: #d5001f;
	--light-gray: #f5f5f5;
	--light: #ffffff;
}

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

ul,
ol,
menu {
	list-style: none;
}


.container-hero {
    background-color: #B4D0E7;
    min-height: 300px;
    width: 1200px;
    color: black; 

}
img {
    max-width: 100%;
}

/* LAYOUT */

.container {
	max-width: 1000px;
	margin: 0 auto;
    /* border: 2px solid red; */
}

.container-lg {
	max-width: 1200px;
	margin: 0 auto;
    
}

.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;   
    
}
.row-hero {
    display: flex;
    justify-content: center;
    flex-wrap: ;
    color: black;   
    padding: 30px;
}
.col-12 {
	width: 100%;
}

.col-6 {
	width: 50%;
}

.col-4 {
	width: calc(100% * 4 / 12);
    padding-left: 20px;
    padding-top: 40px;
    

}

.col-8 {
	width: calc(100% * 8 / 12);
}

.col {

    padding: 20px;
}
.col-1 {
	flex-basis: 50%;    
}
.col-2 {
	width: calc((100% / 12) * 2); 
    
}

.info{
   
    display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.hero {
	background-color: var(--light-blue);
	padding-top: 80px;
}

.hero-title {
    font-size: 76px;
	line-height: 1.2;
	font-weight: 900;
    text-align: center;
}

.hero-info {
    margin: 20px;
    align-items: flex-start; 
        
}

.a-button {
	background-color: var(--blue);
	color: white;
	/* display: inline-block; */
	line-height: 44px;
	font-size: 18px;
	padding: 0 16px;
    margin-left: 15px;
    display: flex;
    flex-wrap: nowrap;
}
i {
    font-size: 15px;
    margin-left: 15px;
}
.container-option i {
    font-size: 18px;;
    
}

.container-option {
    padding: 15px 5px;
}

.link-header > li {
    display:inline;
    color: black;
    margin: 10px;   
}

a {
    color: black;
    text-decoration: none;
	color: currentColor;
}
.decoration {
    text-decoration: underline;
    
}
.text-shop {
    margin-left: 20px;
}

hr {
    margin-top: 30px;
    margin-left: 20px;
    width: 50px;
}

.plane {
    border: 1px solid gray ;
    min-height: 700px;
    padding: 10px;
}
.plane-lg {
    border: 1px solid gray ;
    height: auto;
    padding: 10px;
}
/* card*/
.title {
    font-size: 40px;
    padding: 20px;
    margin-top: 40px;
}
.title-card {
    border: 1px solid gray; 
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.info-card {
    line-height: 30px;
    padding: 20px;
    list-style: none;
}
ul { 
    /* text-indent: 10px; */
    list-style: none;
    /* line-height: 35px; */
    display: flex;
	flex-direction: column;
	gap: 18px;
	font-size: 14px;
    
}
.button-trial {
    text-align: center;
    margin-top: 30px;
    margin-left: -15px;
    margin-bottom: 30px;
}
[class^='col'] > .card {
	height: 100%;
}
.card-plan {
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.card-plan .card__header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.card-plan .card__header {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
	/* align-items: baseline; */
}
.card-plan .card__body {
	padding-top: 36px;
	padding-bottom: 36px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.card-plan.card-plan--landscape .row {
	flex-wrap: nowrap;
	gap: 50px;
}
.card__title {
    line-height: 2em;
}.card__subtitle {
    line-height: 2em;
    margin-bottom: 20px;
}
/* partner*/
.partner {
    margin-top: 50px;
}

.partner .partner-text {
    padding: 35px;
}
.text-title {
    font-size: 25px;
    margin-bottom: 25px;
}
.text-subtitle {
    font-size: 20px;
    line-height: 1.2em;
    
}
.button-partner {
    background-color: white;
    color: gray;
    font-size: 18px;
    padding: 15px;
    margin-top: 20px;
}
/* features*/
.features {
	display: flex;
	flex-direction: column;
	gap: 18px;
	font-size: 14px;
}
.features__item {
	display: flex;
	gap: 10px;
	align-items: baseline;
}
.features.blue-icons i {
	color: var(--blue);
}

.mb-10 {
    margin-top: 40px;
	margin-bottom: 15px;
    margin-left: 15px;
}
/* section designit*/

.text-team {
    color: var(--blue);
    margin-top:50px;
    margin-left: 20px;
    margin-bottom: 50px;
    text-decoration-line: underline;
}
.bg-gray {
    background-color: gray;
}   
.bg-red {
    
    display: flex;
    flex-wrap: wrap;
    min-height: 400 px;
}
.bg-blue {
    background-color: #0061ff;
}
.bg-green {
    background-color: #a2d39b;
    color: white;
}
.bg-bordeaux {
    background-color: var(--bordeaux);
    
}
.bg-blue {
    background-color:#0061ff;
    color: white;
}
.bg-redligth {
    background-color: var(--red);
    color: white;
    
}

    .row-designit {
        max-width: 100%;

}
/* DEBUG*/
.debug .header {
    background-color: white;
    /* border: 2px solid red; */
}
.debug .container-lg {
    color: black;
    /* background-color: #B4D0E7 ; */  
}

.debug .col-4 {
   
   
}