* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;


.container {
    max-height: 80px;
    
}
.row {
    display: flex;
    justify-content: space-between;
    color: black;
    
}
.col {
    padding: 20px;
}

.a-button {
    color: white;
    background-color: blue;
    padding: 5px;
   
}
.link-header > li {
    display:inline;
    color: black;
    margin: 5px auto;
    
}
a {

}

/* DEBUG*/
.debug .header {
    background-color: white;
    border: 2px solid red;
}